body {
    margin: 0;
    background: url('../img/backgroundwebp4.jpg');
}

.card {
    width: 400px;
    margin: 30px auto;
    padding: 20px;

    background-color: rgb(22 58 103 / 60%);
    box-shadow: 0 5px 10px gray;
    border-radius: 10px;
}
.btn {
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 150px;
    height: 40px;
    text-decoration: none;
    padding-top: 9px;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    font: normal 17px arial;
}

.btn:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  }

.btn:not(.active):hover,
.btn:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  }
.btn:not(:hover) {
    transition: 0.6s;
}


.card-foto {
    display: block;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10% 30% / 120%;
}

.card-title {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

.yellow {
    font-size: 20px !important;
    color: #ffe600;
    text-shadow: 0.1em 0.1em 0.1em #81aab5;
    
}

.card-text {
    font-size: 20px;
    color: #dc9797;
    text-align: center;
}

.card-subtitle {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.card-list {
    font-size: 16px;
    color: #dc9797;
    padding-left: 0;
    list-style-position: inside;  
}
